:root {
	/* Brands colors */
	--bright-blue: hsl(220, 98%, 61%);
	--input-background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

	/* Neutral colors light mode*/
	--list-background: hsl(0, 0%, 98%);
	--body-background: hsl(236, 33%, 92%);
	--main-text: hsl(235, 19%, 35%);
	--faded-text: hsl(236, 9%, 61%);
	--faded-text-hover: var(--main-text);
	--low-contrast: hsl(233, 11%, 84%);
}

.darkMode {
	/* Neutral colors dark mode*/
	--list-background: hsl(235, 24%, 19%);
	--body-background: hsl(235, 21%, 11%);
	--main-text: hsl(234, 39%, 85%);
	--faded-text: hsl(234, 11%, 52%);
	--faded-text-hover: hsl(236, 33%, 92%);
	--low-contrast: hsl(233, 14%, 35%);

	/* Usage unclear */
	--very-dark-grayish-blue-2: hsl(237, 14%, 26%);
}